:root{
    --vermelha: #E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body {
  /*  background-image: url(/img/ilha1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;*/
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} 

header .logo {
    margin-left: 5px;
    color: var(--vermelha);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

header nav a:hover{
    color: var(--vermelha);
}

/*Iimg-principal*/
.img-principal {
    font-size: 17px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(/img/bemvindo-aoEden.jpg);
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.img-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.img-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 9px 29px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .4s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
    margin-left: 8px;
}

.container {
    margin-left: 20px;
}

.img-principal .container {
    width: 70%;
}

.box-praias {
    max-width: 100%;
    height: 200px; 
    width: 200px;
    display: block;
    cursor: pointer;
}

.carrosel-praias {
    margin-top: 5px;
    margin-bottom: 10px;
}